{
  CFBundleName = "Strobie";
  CFBundleExecutable = "Strobie";
  CFBundleIconFile = "app.icns";
  CFBundlePackageType = APPL;
  CFBundleShortVersionString = "1.0";
  NSMainNibFile = "Application";
  NSPrincipalClass = "NSApplication";
  NSSupportsAutomaticGraphicsSwitching = YES;
  LSMinimumSystemVersion = "10.7";
  NSHumanReadableCopyright = "Copyright © Davorin Šego. All rights reserved.";
}
