{
  CFBundleName = "Strobie";
  CFBundleExecutable = "Strobie";
  CFBundleIconFile = "app.icns";
  CFBundleIdentifier = "com.strobie-app.strobie";
  CFBundlePackageType = APPL;
  CFBundleShortVersionString = "1.0.0";
  NSMainNibFile = "Application";
  NSPrincipalClass = "NSApplication";
  NSSupportsAutomaticGraphicsSwitching = YES;
  LSMinimumSystemVersion = "10.9";
  NSHumanReadableCopyright = "Copyright © 2014 Davorin Šego. All rights reserved.";
}
